@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-200;
}

/* custom input */
.input-box {
  width: 100%;
  padding: 10px;
  background: #1f2937;
  border: 1px solid #374151;
  color: #e5e7eb;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.input-box:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59,130,246,0.3);
}


